### List
* iteration operation with loop
* apply any operation on element

In [3]:
names : list [str] = ['Amina','Dev','Software Engineer']

for name in names:
    print(name)

Amina
Dev
Software Engineer

In [7]:
names : list [str] = ['Amina','Dev','Software Engineer']

i : int = 0
while i < len(names):
    print(names[i])
    i+=1

Amina
Dev
Software Engineer

In [9]:
names : list [str] = ['Amina','Dev','Software Engineer']

for name in names:
    print(f'Eid Mubarak! {name.title()}')

Eid Mubarak! Amina
Eid Mubarak! Dev
Eid Mubarak! Software Engineer

In [10]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names[-2:]:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

print("Pakistan zinda bad")

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

Pakistan zinda bad

In [11]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names[::-1]:
    print(f'Welcome Dear Tacher {name.upper()}')
    print("PIAIC Gen AI Team\n")
print("Pakistan zinda bad\n")

Welcome Dear Tacher DR NOMAN
PIAIC Gen AI Team

Welcome Dear Tacher MUHAMMAD QASIM
PIAIC Gen AI Team

Welcome Dear Tacher SIR ZIA
PIAIC Gen AI Team

Pakistan zinda bad

In [15]:
database : list[tuple[str, int]] = [
    ("Amina", 97716),
    ("Sobia", 931010),
    ("Date", 24815)
]

print(database)
print(type(database))

for row in database:
    user, password = row
    print(row)
    print(user, password)

[('Amina', 97716), ('Sobia', 931010), ('Date', 24815)]
<class 'list'>
('Amina', 97716)
Amina 97716
('Sobia', 931010)
Sobia 931010
('Date', 24815)
Date 24815

In [16]:
input_user : str = input("Enter your name: ")
print(f'Hello {input_user}')

Hello Amina

In [6]:
database : list[tuple[str, str]] = [("amina12345", "90078601"),
                                    ("sabeeha000", "247365"),
                                    ("anzish159", "951159")]

user_name : str = input("Enter your username: ")
user_password : str = input("Enter your password: ")

for row in database:
    username , userpassword = row
    if user_name == username and user_password == userpassword:
        print(f'Valid user: {username}')
        break
    else:
        print('Invalid credentials')

Invalid credentials
Invalid credentials
Invalid credentials

### Should the else block be inside the for loop?

* No, it should not be inside the loop. The correct placement is outside the loop.
* If you put the else block inside the loop, it will execute after each iteration where the condition is not met. This behavior is likely not what you intended.
* By placing the else block outside the loop, it will only execute if the loop completes all iterations without encountering a break.
* Check correct version below.

In [7]:
database : list[tuple[str, str]] = [("amina12345", "90078601"),
                                    ("sabeeha000", "247365"),
                                    ("anzish159", "951159")]

user_name : str = input("Enter your username: ")
user_password : str = input("Enter your password: ")

for row in database:
    username , userpassword = row
    if user_name == username and user_password == userpassword:
        print(f'Valid user: {username}')
        break
else:
    print('Invalid credentials')

Invalid credentials

In [1]:
names : list[str] = ["Alpha", "Bravo", "Charlie"]

for name in names :
    print(name)
else: print("Hello World!")

Alpha
Bravo
Charlie
Hello World!

In [4]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
    break   # break keyword will allow to print only first element and break.
else:
    print("Hello world")

Sir Zia

In [5]:
magicians: list[str] = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    

print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

##### The enumerate() function in Python is a built-in function that allows you to iterate over a sequence (such as a list, tuple, or iterator) while simultaneously obtaining both the index and the value of each element.

In [19]:
magicians : list[str] = ['Alice', 'David', 'Carolina']

list(enumerate(magicians))

[(0, 'Alice'), (1, 'David'), (2, 'Carolina')]

In [21]:
magicians : list[str] = ['Alice', 'David', 'Carolina']

for index, magician in enumerate(magicians):
    print(index, magician)

0 Alice
1 David
2 Carolina

### Numbers with loop

* range(start, stop, step)

In [25]:
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [26]:
list(range(2,10))# starting=0, ending = n-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
list(range(2,200,10))# starting=0, ending = n-1

[2,
 12,
 22,
 32,
 42,
 52,
 62,
 72,
 82,
 92,
 102,
 112,
 122,
 132,
 142,
 152,
 162,
 172,
 182,
 192]

In [29]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [33]:
user_input = int(input("Enter a number: "))
for n in range(1,11):
    print(f'{user_input} x {n} = {n*user_input}')

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [46]:
squares : list[int] = []

for value in range(1,11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##### List comprehensive
        for item in items_list:
            loop_body
##### Comprehensive Style
        [loop_body for item in items_list]

In [51]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [53]:
digits : list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(digits)
print(min(digits))
print(max(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
0
9
45

In [54]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
friend_foods = my_foods[:] # deep copy

print(my_foods)
print(friend_foods)

friend_foods[0] = "Tikka"

print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']

### Tuples

In [61]:
names : tuple[str] = ('A', 'B', 'C')
print(names[2])
print(names[::])

C
('A', 'B', 'C')

In [62]:
names : tuple[str] = ('A', 'B', 'C')
names[0] = 'Pakistan'
print(names)

TypeError: 'tuple' object does not support item assignment

In [63]:
names:tuple[str] = ('A',"B",'C')

names:tuple[str] = ('Pakistan',"B",'C')

print(names)

('Pakistan', 'B', 'C')

In [66]:
from typing import Any
data : tuple[Any]= ('A', 2, True)
print(data)

('A', 2, True)

In [67]:
data : tuple[Any] = ("A",[1,2,3], True)

print(data[1])
data[1].append(20)
print(data)

[1, 2, 3]
('A', [1, 2, 3, 20], True)

In [68]:
a  = input("abc") # return string type
print(type(a))
print(a)

<class 'str'>
123

In [70]:
sorted([239,232,34,2,434,34])

[2, 34, 34, 232, 239, 434]